.main-screen-container {
  background-color: whitesmoke;
  border: 1px solid #dedede;
  border-radius: 5px;
  width: 90%;
  margin: 25px auto;
  padding: 5px;
}

.main-screen-title {
  padding-left: 10px;
  color: #4a4b4c;
}

.main-screen-secondary-title {
  padding-left: 10px;
  color: #4a4b4c;
}
